@font-face {
    font-family: "PingFangSC-Regular";
    src: url('../fonts/PingFangSCRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf?t=1627566341620') format('truetype');
  }
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-family: "PingFangSC-Regular";
}
.clearfix{
    overflow: hidden;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
.tac{
    text-align: center;
}
.center-wrap{
    margin: 0 auto;
    width:1152px;
}
.db{
    display: block;
}
.dib{
    display: inline-block;
}
